body {
  font-family: Arial, sans-serif;
  background-color: #d3d3d3;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Высота экрана, чтобы центрировать по вертикали */
}

.container {
  width: 100%; /* Растягиваем контейнер на всю ширину */
  max-width: 1600px; /* Максимальная ширина контейнера, чтобы он не растягивался слишком сильно */
  height: 90%; /* Или установи конкретную высоту */
  background-color: #fff;
  border-radius: 8px;
  padding: 40px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;

  position: absolute;
  left: 0%
}

.product-card {
  display: flex;
  gap: 40px;
  flex-grow: 1;
  min-height: 500px;
  min-width: 1500px;
}


.product-image {
  width: 100%;
  height: 100%;
  min-height: 500px;
  min-width: 800px;
  flex: 2; /* Увеличиваем размер секции для изображения */
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden; /* Обрезает лишнее содержимое */
  border-radius: 8px; /* Закругленные углы */
}

img {
  width: 100%; /* Картинка занимает всю ширину контейнера */
  height: 100%; /* Растягиваем картинку по высоте контейнера */
  object-fit: cover; /* Обрезает края, чтобы заполнить контейнер */
  border-radius: 8px; /* Закругленные углы сохраняются */
}

.image-placeholder {
  min-height: 500px;
  min-width: 800px;
  width: 100%;
  height: 100%; /* Высота совпадает с высотой карточки */
  background-color: #e0e0e0;
  border-radius: 8px;
}



.product-info {
  min-height: 500px;
  min-width: 500px;
  flex: 2;
  display: flex;
  flex-direction: column; /* Элементы располагаются в столбик */
  align-items: flex-start; /* Выравниваем элементы по левому краю */
  justify-content: flex-start; /* Выравниваем элементы к началу */
  gap: 20px; /* Расстояние между элементами */
}

.product-title {
  color: #830000;
  font-size: 36px;
  margin-bottom: 20px;
}

.product-meta {
  font-size: 20px;
  color: #888;
  margin-bottom: 20px;
}

.product-description {
  font-size: 18px;
  color: #333;
  line-height: 1.8;
  margin-bottom: 40px;
}

.btn {
  display: block;
  padding: 15px 30px;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  text-align: center;
  width: 100%;
  max-width: 700px;
}

.btn.reserve,
.btn.view {
  background-color: #830000;
  color: #fff;
}

.btn-container {
  display: flex;
  flex-direction: column;
  gap: 1px; /* Устанавливаем расстояние между кнопками */
  width: 100%;
  min-width: 500px;
}

.note {
  position: absolute;
  top: 94%;
  font-size: 14px;
  color: #777;
  text-align: center;
  margin-top: 20px;
}
